.tphoto {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  position: absolute;
  margin: 10% 10% auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid #c0c0c0;
  background-color: #fff;
  box-shadow: 2px 2px 2px #c0c0c0;
}

.tcontrols {
  width: 80%;
  height: 15%;
  overflow: hidden;
  margin: 5% 10% auto;
  position: absolute;
  bottom: 1em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid #c0c0c0;
  background-color: #fff2;
}
