<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="account">
        إعدادات المستخدم لـ [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>تم حفظ الإعدادات!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
        <div class="form-group">
          <label class="form-control-label" for="firstName">الاسم </label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="الاسم"
            formControlName="firstName"
            data-cy="firstname"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required"> اسمك الأول مطلوب. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength">
              يجب ألا يقل اسمك الأول عن حرف واحد.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
              لا يمكن أن يكون اسمك الأول أطول من 50 حرفًا.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="lastName">اسم العائلة</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="اسم العائلة"
            formControlName="lastName"
            data-cy="lastname"
          />

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required"> اسم عائلتك مطلوب. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength">
              يجب ألا يقل اسم عائلتك عن حرف واحد.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
              لا يمكن أن يكون اسمك الأخير أطول من 50 حرفًا.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="email">بريد إلكتروني</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="بريد إلكتروني"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required">
              البريد الإلكتروني الخاص بك مطلوب.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> بريدك الالكتروني خاطئ. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
              يجب ألا يقل بريدك الإلكتروني عن 5 أحرف.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">
              لا يمكن أن يكون بريدك الإلكتروني أطول من 100 حرف.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">حفظ</button>
      </form>
    </div>
  </div>
</div>
