<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="zikr">
      <h2 data-cy="zikrDetailsHeading"><span>ذكر</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>هوية</span></dt>
        <dd>
          <span>{{ zikr.id }}</span>
        </dd>
        <dt><span>المحتوى</span></dt>
        <dd>
          <span>{{ zikr.content }}</span>
        </dd>
        <dt><span>مرات الاعادة</span></dt>
        <dd>
          <span>{{ zikr.count }}</span>
        </dd>
        <dt><span>التقسيم</span></dt>
        <dd>
          <div *ngIf="zikr.type">
            <a [routerLink]="['/type', zikr.type?.id, 'view']">{{ zikr.type?.title }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>عودة</span>
      </button>

      <button type="button" [routerLink]="['/zikr', zikr.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>تعديل</span>
      </button>
    </div>
  </div>
</div>
