<div>
  <div class="row justify-content-center">
    <div class="col-md-8" *ngIf="account$ | async as account">
      <h2>
        كلمة المرور لـ [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>تم تغيير كلمة السر!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>حدث خطأ!</strong> لا يمكن تغيير كلمة المرور.</div>

      <div class="alert alert-danger" *ngIf="doNotMatch">كلمة المرور وتأكيدها غير متطابقين!</div>

      <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
        <div class="form-group">
          <label class="form-control-label" for="currentPassword">كلمة المرور الحالي</label>
          <input
            type="password"
            class="form-control"
            id="currentPassword"
            name="currentPassword"
            placeholder="كلمة المرور الحالي"
            formControlName="currentPassword"
            data-cy="currentPassword"
          />

          <div
            *ngIf="
              passwordForm.get('currentPassword')!.invalid &&
              (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
              مطلوب كلمة المرور الخاصة بك.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="newPassword">كلمة مرور جديدة</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            placeholder="كلمة مرور جديدة"
            formControlName="newPassword"
            data-cy="newPassword"
          />

          <div
            *ngIf="
              passwordForm.get('newPassword')!.invalid &&
              (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
              مطلوب كلمة المرور الخاصة بك.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
              يجب ألا تقل كلمة المرور الخاصة بك عن 4 أحرف.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
              لا يمكن أن تكون كلمة مرورك أطول من 50 حرفًا.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="confirmPassword">تأكيد كلمة السر الجديدة</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="تأكيد كلمة السر الجديدة"
            formControlName="confirmPassword"
            data-cy="confirmPassword"
          />

          <div
            *ngIf="
              passwordForm.get('confirmPassword')!.invalid &&
              (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
              مطلوب تأكيد كلمة المرور الخاصة بك.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
              يجب ألا تقل كلمة المرور الخاصة بك عن 4 أحرف.
            </small>

            <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
              لا يمكن أن تكون كلمة مرورك أطول من 50 حرفًا.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">حفظ</button>
      </form>
    </div>
  </div>
</div>
